<head>
	<meta charset="UTF-8">
	<title>Calculadora javascript</title>
    <link rel="stylesheet" href="calculadora.css">
</head>
<body>
	<div id="container">
		<section id="calculadora">
			<header class="top">
				<div class="input-valor"></div>
			</header>
			<ul class="key">
				<li>7</li>
				<li>8</li>
				<li>9</li>
				<li class="operador">/</li>
				<li>4</li>
				<li>5</li>
				<li>6</li>
				<li class="operador">*</li>
				<li>1</li>
				<li>2</li>
				<li>3</li>
				<li class="operador">-</li>
				<li>0</li>
				<li>.</li>
				<li class="operador">+</li>
				<li>c</li>
				<li class="verificar">=</li>
			</ul>
		</section>
	</div>
	<script type="text/javascript" src="calculadora.js"></script>	
</body>